@charset "utf-8";
/* CSS Document */
body {
  color: #555;
  font-size: 14px;
  font-family: Microsoft YaHei, Simsun, Arial Unicode MS;
  background: #ffffff;
}
@-moz-document url-prefix(){ 
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
}
a:link,a:visited {color: #555;text-decoration: none;}
a:hover { color: #000;text-decoration: underline;}
ul{list-style-type: none;}
img{
  max-width: 100%;
  width: auto \9 !important;
  height: auto;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn { margin: 5px 0; }
.theme-showcase .navbar .container { width: auto; }
dt { font-weight: normal; }
.clear { clear: left ;}
/* 顶部 */
/***** VIP 会员 *****/
.vip-form { margin-top: 20px;}
/***** 底部版权 *****/
#footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
/********** 页面信息提示 **********/
.system-message{ margin-top: 50px;padding: 20px;font-size: 14px; border: 1px solid #ccc;}
/*.system-message h1{ font-size: 100px; font-weight: normal; line-height: 120px; margin-bottom: 12px; }*/
.system-message .jump{ padding-top: 10px}
.system-message .jump a{ color: #f00;}
.system-message .success,.system-message .error{ line-height: 1.8em; font-size: 20px; }
.system-message .detail{ font-size: 12px; line-height: 20px; margin-top: 12px; display:none;}
/***** IE提示信息 ******/
#ie-warning {
  width: 100%;
  padding: 5px 0px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: #89464c;
}
#ie-warning a:link,#ie-warning a:visited { color: #fff; }
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {

}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .vip-form {
	padding: 30px;
	border: 1px solid #ddd;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius: 5px;            /* W3C syntax */
  }
  .vip h1 {
    margin: 30px;
	font-size: 30px;
	text-align: center;
  }
  .vip-form-title { text-align: center;}
  .vip-form-title legend { font-size: 30px;}
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {

}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {

}