@charset "utf-8";
/* CSS Document */
body {
  color: #555;
  font-size: 14px;
  font-family: Microsoft YaHei, Simsun, Arial Unicode MS;
  background: #ffffff;
}
@-moz-document url-prefix(){ 
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
}
/***** 底部版权 *****/
#footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
/********** 页面信息提示 **********/
.system-message{ margin-top: 50px;padding: 20px;font-size: 14px; border: 1px solid #ccc;}
/*.system-message h1{ font-size: 100px; font-weight: normal; line-height: 120px; margin-bottom: 12px; }*/
.system-message .jump{ padding-top: 10px}
.system-message .jump a{ color: #f00;}
.system-message .success,.system-message .error{ line-height: 1.8em; font-size: 20px; }
.system-message .detail{ font-size: 12px; line-height: 20px; margin-top: 12px; display:none;}
/***** IE提示信息 ******/
#ie-warning {
  width: 100%;
  padding: 5px 0px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: #89464c;
}
#ie-warning a:link,#ie-warning a:visited { color: #fff; }
/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
  .vip h1,.order h1 {
    margin: 10px;
	font-size: 24px;
  }
  .vip h1 span,.order h1 span { font-size: 20px;}
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .vip-form,.order-form {
	padding: 30px;
	border: 1px solid #ddd;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius: 5px;            /* W3C syntax */
  }
  .vip h1,.order h1 {
    margin: 30px;
	font-size: 30px;
	text-align: center;
  }
  .vip h1 span,.order h1 span { font-size: 24px;}
}